<?xml version="1.0"?>
<launch>
	
  <!-- <arg name="rvizconfig" default="$(find pitakuru)/rviz/navigation.rviz" />
     自己位置推定 -->  

<arg name="map_file" default="$(find pitakuru)/maps/map.yaml"/>
<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


<arg name="use_map_topic" default="true"/>  
  <arg name="scan_topic" default="scan_main" />
<arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

    <!-- 自己位置推定 -->
    <node pkg="amcl" type="amcl" name="amcl">
        <rosparam file="$(find pitakuru)/config/amcl.yaml" command="load" />
        <remap from="scan" to="/scan_main" />
        <param name="use_map_topic" value="$(arg use_map_topic)"/>
        <param name="odom_frame_id" value="odom"/>
    </node> 

   
</launch>
