<?xml version="1.0"?>
<launch>
    <arg name="rvizconfig" default="$(find pitakuru)/rviz/navigation.rviz" />
    
    <!-- 自己位置推定 -->
   <!--  <node pkg="amcl" type="amcl" name="amcl">
        <rosparam file="$(find pitakuru)/config/amcl.yaml" command="load" />
        <remap from="scan" to="/scan" />
        <param name="use_map_topic" value="$(arg use_map_topic)"/>
        <param name="odom_frame_id" value="odom"/>
    </node> -->

    <!-- ナビゲーション -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find pitakuru)/config/move_base/move_base_params.yaml" command="load" />
      <rosparam file="$(find pitakuru)/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find pitakuru)/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find pitakuru)/config/move_base/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find pitakuru)/config/move_base/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find pitakuru)/config/move_base/base_local_planner_params.yaml" command="load" />

      <param name="global_costmap/laser_scan_sensor/sensor_frame" value="laser" /><!-- laser_link -->
      <param name="global_costmap/laser_scan_sensor/topic" value="scan" />
      <param name="global_costmap/global_frame" value="map" />
      <param name="global_costmap/robot_base_frame" value="base_link" />
      <param name="local_costmap/laser_scan_sensor/sensor_frame" value="laser" /><!-- laser_link -->
      <param name="local_costmap/laser_scan_sensor/topic" value="scan" />
      <param name="local_costmap/global_frame" value="odom" />
      <param name="local_costmap/robot_base_frame" value="base_link3" />
      <remap from="cmd_vel" to="/cmd_vel" />
      <remap from="odom" to="/odom" />
    </node>

    <!-- RVizパネル設定 -->
    <param name="use_gui" value="true"/>
    <!-- rvizノード起動設定 -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
