<!-- Demonstation of obstacle detector -->
<launch>
 
  <arg name="rplidar_flag_aux" default="true" /> <!-- set to true if i want to record-->


<node name="rplidarNodeSecond"          pkg="rplidar_ros"  type="rplidarNode" output="screen" if = "$(arg rplidar_flag_aux)">
  <param name="serial_port"         type="string" value="/dev/ttyUSB1"/>
  <param name="serial_baudrate"     type="int"    value="115200"/>
  <param name="frame_id"            type="string" value="laser_aux"/>
  <param name="inverted"            type="bool"   value="true"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  <remap from="/scan" to="/scan_aux"/>
</node>

     
<node name="scan_aux_to_base_tf" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 3.141592 -3.141592 base_link laser_aux" if = "$(arg rplidar_flag_aux)"/>

</launch>
<!-- -->
