<?xml version="1.0"?>
<launch>
    <arg name="publish_images" default="true"/>
    <arg name="jsdev" default="/dev/input/js0"/>
    <rosparam file="$(find pitakuru)/config/bright_env/pitakuru.yaml" command="load" ns="pitakuru" />




<include file="$(find joy)/launch/joytestps4.launch"/>
 <node pkg="pitakuru" type="controller.py" name="controller"/>
    <!-- スイッチの入出力制御 -->
    <node pkg="pitakuru" type="switch.py" name="switch">
        <rosparam command="load" file="$(find pitakuru)/config/bright_env/switch.yaml" />
    </node>

    <!-- ステートマシン (状態遷移) -->
    <node pkg="pitakuru" type="states.py" name="states"/>

    <!-- 速度指令変換 -->
    <rosparam command="load" file="$(find pitakuru)/config/bright_env/movement.yaml" />
    <node pkg="pitakuru" type="movement.py" name="movement" />
    <node pkg="pitakuru" type="karugamo.py" name="karugamo" />
    <node pkg="pitakuru" type="manual.py" name="manual" />

  <include file="$(find obstacle_detector)/launch/test.launch"/> 
 
<node pkg="control_xy" type="control_xy_node" name="control_xy" output="screen">
<param name="break_distance"    type="double"	value="0.2"/>
<param name="break_danger"    type="double"	value="0.7"/>	
<param name="low_vel_gain"    type="double"	value="24"/>
<param name="high_vel_gain"    type="double"	value="20"/>
<param name="max_speed_follow"    type="double"	value="1800"/>
<param name="max_speed_manual"    type="double"	value="2000"/>
</node>



</launch>
