<?xml version="1.0"?>
<launch>

<node pkg="conversion" type="quatCo.py" name="quatCo" output="screen">	
</node>

<include file="$(find rplidar_ros)/launch/rplidar.launch" />
<node pkg="tf" type="static_transform_publisher" name="laser_frame" args="0 0 0 0 0 0 1 base_link laser 10" />

<include file="$(find gmapping)/launch/slam_gmapping_pr2.launch" />


<!--<launch><nodepkg="tf"type="static_transform_publisher"name="base_link_to_laser"args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /laser 40" /> -->
<!--
<param name="use_sim_time" value="false"/>
<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
<param name="map_udpate_interval" value="5.0"/>
<param name="delta" value="0.02"/>
</node>
-->

</launch>
