<?xml version="1.0"?>
<launch>
    <arg name="publish_images" default="true"/>
    <arg name="debug" default="true"/>

    <!-- カメラから画像を読み込んで配信 -->
    <node name="uvc_camera_node" pkg="uvc_camera" type="uvc_camera_node" output="screen">
        <!-- <param name="device" type="string" value="/dev/input/by-id/usb-KYE_Systems_Corp._USB_Camera_200901010001-event-if00"/> -->
        <param name="device" type="string" value="/dev/video0"/>
        <param name="width" type="int" value="1280"/>
        <param name="height" type="int" value="720"/>
        <param name="camera_info_url" value="file://$(find pitakuru)/config/aruco/camera.yaml"/>
    </node>

    <!-- ArUco検知 -->
    <node pkg="aruco_detect" type="aruco_detect" name="aruco_detect">
        <rosparam command="load" file="$(find pitakuru)/config/aruco/aruco.yaml"/>
        <param name="publish_images" value="$(arg publish_images)"/>
        <remap from="camera" to="/image_raw"/>
    </node>

    <group if="$(arg debug)">
        <node pkg="pitakuru" type="aruco_image.py" name="aruco_image" />
    </group>
</launch>