<launch>
    <rosparam ns="rate" file="$(find line_follower)/config/rate_config.yaml" />

    <group ns="line_detector">
        <rosparam file="$(find line_follower)/config/line_detector_config.yaml" />
        <node name="line_detector_node" pkg="line_follower" type="line_detector_node.py" output="screen" />
    </group>

</launch>
